/*
 *	StyleSheet.css
 *  Author: Henry Caron, Sejal Dua, Ansgar Jordan, Abigail Radey
 *  Purpose: Stylesheet for Comp20 Midterm Project
 *	Date: 3/10/2020
 */

 * {
 	font-family: Helvetica;
 }
.container {
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}
 nav {
 	position: fixed;
 	text-align: center;
 	top: 0;
 	left: 0;
 	width: 100vw;
 	height: 9vh;
	background-color: #065A82;
	white-space: nowrap;
	overflow: hidden;
 }

 ul {
 	margin: 0;
 	padding: 0;
 	/*display: flex;*/
 	/*text-align: center;*/
 }

 li {
 	list-style-type: none;
 	padding-left: 2vw;
 	padding-right: 2vw;
 	font-size: 4vh;
 	/*display: flex;*/
 }

 li:hover {
	background-color: #1C7293;
}

a {
	text-decoration: none;
	font-size: 3vh;
	padding: 2vh 2vh;
	color: #FFFFFF;
	float: left;
}

.active {
   color: rgb(183, 213, 226);
   padding-bottom: 2%;
   border-bottom: solid 2px rgb(183, 213, 226);
}

 .nav-container {
 	display:flex;
	justify-content: space-between;
	height: 60px; 
	line-height: 30px; 
	text-align: center; 
	vertical-align: middle;
 	
 	/*flex-direction: row;*/
 }

 .floatleft {
	display:flex;
 }

 .floatright {
 	/*float: right;*/
 	display:flex;
 	flex-direction: row;

 }

 .cart {
 	height: 4vh;
 	float: left;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	line-height: 4vh;	
	position: relative;
    top: 50%;
 }



.hero {
	background-image: url("homeimage.jpg");
	background-size: cover;
	padding: none;
	margin: none;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.textgroup {
	text-align: center;
	color: #065A82;
	background-color: rgb(183, 213, 226);
	font-size: 30px;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 2vh;
	border-radius: 5px;
	width: auto;
}

h1 {
	font-size: 15vh;
}

h2 {
	font-size: 10vh;
}


footer {
	background-color: #21295C;
	/*margin: none; */
	border: solid;
	border-color: #21295C;
	width: 100vw;

}
/*
 h1 {
 	text-align:center;
 	color: white;
 	background-color: rgba(51, 0, 0, 0.5);
 	border: 5px solid;

 }

 h2 {
 	text-align: center;
 	color: white;
 	background-color: rgba(51, 0, 0, 0.5);
 	border: 2px solid white;
 }

 p {
 	text-align:left;
 	color: black;
 	font-size: x-large;
 	border: 2px solid white;
 	margin-left: 450px;
 	margin-right: 450px;
 }*/
